*{
    padding: 0px;
    margin: 0px;
    
}
.container-fluid{
    width: 100%;

}
body{
    padding-top: 55px;
}
#sayfa{
    background-color: #dbdbdb;
}
#login{
    height: 10;
}

/*navbar ve footer arasında kalan alan*/
#container
{
    width: 80½;
    margin: auto;
}
.container{
    background-color: white;
}
.icerik{
    padding-top: 10px;
}
/*Hakkımda başlangıç*/
#hakkımdah1{
    text-align: center;
    background-color:black;
    color: white;
    height: 50px;
    line-height: 50px;
    margin: 8px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rg
}
.hakkımda h2{
    margin: 30px;
    margin-left: 90px;
}
.hakkımda p{
    font-size: 23px;
    margin: 10px 60px;
    text-align: center;
}
.hobilerim{
    width: 30%;
    height: auto;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 2px rgba(20, 23, 28, .15);
}
.rsm{
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: opacity 0.8s;
}
.rsm:hover{
    opacity: 0.6;
}
.hobilerim h5{
    margin: 10px;
    color: dimgray;
}
.hobilerim p{
    font-size: 18px;
    text-align: left;
    margin: 10px;
    color: dimgray;
}
.btnDevam:link{
    display: block;
    width: 150px;
    height: 45px;
    padding: 10px 20px;
    background-color: #0071ce;
    color: white;
    text-decoration: none;
    margin: 15px;
    border-radius: 7px;
}
.btnDevam:visited{
    display: block;
    width: 150px;
    height: 45px;
    padding: 10px 20px;
    background-color: #4d7fa8;
    color: white;
    text-decoration: none;
    margin: 15px;
    border-radius: 7px;
}
.btnDevam:hover{
    opacity: 0.8;
}
/*Hakkımda bitiş*/

/*özgeçmiş başlangıç*/
#ozgecmish1{
    text-align: center;
    background-color:black;
    color: white;
    height: 60px;
    line-height: 50px;
    margin: 8px 10px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rg
}
#ozgecmish2{
    color: rgb(15, 15, 71);
    margin: 30px;
    padding: 10px;
    border-bottom: solid 5px rgb(41, 82, 116);
    border-radius: 10px;
}
#nav{
    text-align: center;
    padding: 0px 80px;
    padding-left: 130px;
}
#navitem{
    border: solid;
    width: 150px;
    margin: 10px;
    border-radius: 800px;
    color: white;
    background-color: rgb(41, 82, 116);
}
#navlink{
    color: white;
}
.kisiseltable{
    font-size: 20px;
    width: 90%;
    margin: 15px;
    margin-left: 40px;
}
.kisiseltable tr{
    height: 35px;

}
#bilgi{
    color: rgb(18, 55, 85);
    font-weight: bold;
}
#egitimbaslik{
    font-weight: bold;
    color: rgb(172, 72, 33);
}
#nitelikbaslik{
    font-weight: bold;
    color: rgb(172, 72, 33);
}

/*Özgeçmiş bitiş*/

/*sehrim başlangıç*/
.resimSlider
{
    height: 600px;
}
.eskisehir h1{
    text-align: center;
    margin: 20px;
}
.adalar p{
    font-size: 23px;
    margin: 10px 30px;
    text-align: center;
}
.kentpark p{
    font-size: 23px;
    margin: 10px 30px;
    text-align: center;
}
.sazova p{
    font-size: 23px;
    margin: 10px 30px;
    text-align: center;
}
.haller p{
    font-size: 23px;
    margin: 10px 30px;
    text-align: center;
}
.selale p{
    font-size: 23px;
    margin: 10px 30px;
    text-align: center;
}
.eskisehir p{
    font-size: 23px;
    margin: 10px 30px;
    text-align: center;
}
#sehrimh2{
    margin: 15px;
    margin-left: 25px;
}
iframe{
    width: 98%;
    border-radius: 8px;
    margin-top: 30px;
}
/*sehrim bitiş*/

/*Mirasımız başlangıç*/
.mirasımız{
    text-align: center;
    background-color:black;
    color: white;
    height: 50px;
    line-height: 50px;
    margin: 8px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(28, 23, 28, .15);
}
.odunpazarı p{
    font-size: 23px;
    margin: 10px 30px;
    text-align: center;
}
.odunpazarı h2{
    margin: 15px;
    margin-left: 25px;
}
#odunpazarı1{

    border-radius: 10px;
    float: left;
    margin: 15px;
}
#odunpazarı2{
    width: 1200px;
    height: 450px;
    border-radius: 10px;
    margin: 15px;
    margin-left: 50px;

}
#odunpazarıvideo{
    width: 900px;
    height: 450px;
    margin: 20px;
    margin-left: 200px;
}
.kursunlu h2{
    margin: 15px;
    margin-left: 25px;
}
#kursunlu1{
    border-radius: 10px;
    float: left;
    margin: 15px;
}
.kursunlu p{
    font-size: 23px;
    margin: 10px 30px;
    text-align: center;
}
#kursunlu2{
    width: 1200px;
    height: 450px;
    border-radius: 10px;
    float: left;
    margin: 15px;
    margin-left: 50px;
}
.atlıhan h2{
    margin: 15px;
    margin-left: 25px;
}
#atlıhan1{
    border-radius: 10px;
    float: left;
    margin: 15px;
}
.atlıhan p{
    font-size: 23px;
    margin: 10px 30px;
    text-align: center;
}
/*Mirasımız bitiş*/

/*İlgi Alanlarım Başlangıç*/
#ilgih1{
    text-align: center;
    background-color:black;
    color: white;
    height: 65px;
    line-height: 50px;
    margin: 8px 10px;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rg
}
.ilgi h2{
    font-weight: bold;
    margin: 25px;
    margin-left: 90px;
}
.ilgi p{
    font-size: 20px;
    margin: 10px 30px;
}
.futbol{
    width: 80%;
    margin: auto;
}
#futbol2{
    border-radius: 10px;
    float: left;
    margin: 15px;
    width: 500px;
    height: 300px;
}
#galatasaray{
    border-radius: 10px;
    float: right;
    margin: 15px;
    width: 350px;
    height: 350px;
}
.filmdizi{
    width: 80%;
    margin: auto;
}
#film2{
    border-radius: 10px;
    float: left;
    margin: 15px;
    width: 500px;
    height: 300px;
}
#forrestGump{
    border-radius: 10px;
    float: left;
    margin: 15px;

}
.müzik{
    width: 80%;
    margin: auto;
}
#müzik2{
    border-radius: 10px;
    float: left;
    margin: 15px;
    width: 500px;
    height: 300px;
}
.bilgisayaroyun{
    width: 80%;
    margin: auto;
}
.yazılım{
    width: 80%;
    margin: auto;
}
#yazılım2{
    border-radius: 10px;
    float: left;
    margin: 15px;
    width: 500px;
    height: 300px;
}
.kitap{
    width: 80%;
    margin: auto;
}
#kitap2{
    border-radius: 10px;
    float: left;
    margin: 15px;
    width: 500px;
    height: 300px;
}

/*İlgi Alanlarım Bitiş*/

/*iletisim başlangıç*/
#sayfa-iletisim{
    background-color:rgb(161, 181, 194) ;
}
#icerik-iletisim{
    width: 70%;
    height: 1500px;
    margin: auto;
    background-color:rgb(161, 181, 194);
}
.iletisim-form{
    width: 85%;
    max-width: 800px;
    height: 1200px;
    background: #f1f1f1;
    position: absolute;
    top: 200px;
    left: 550px;
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;

}
.iletisim-form h1{
    margin-top: 0;
    font-weight: 200;
}
.iletisim-form .frmi{
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}
.iletisim-form .frmi label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}
.iletisim-form .frmi input, .iletisim-form .frmi textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}
.iletisim-form .frmi .iller{
    width: 100%;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}
#btnIletisim:hover{
    opacity: 0.8;
}
/*iletisim bitiş*/

/*Giriş sayfası başlangıç*/
#sayfaGiris{
    margin: 0px;
    padding: 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gold;
}
.giris{
    text-align: center;
    width: 350px;
    box-sizing: border-box;
    padding: 40px;
    background-color: white;
}
.giris h2{
    margin: 0 0 20px;
    padding: 0px;
    font-size: 30px;
    text-transform: uppercase;
}
.giris .frm {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}
.giris .frm input{
    height: 50px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
    border: 1px solid #000;
}
.giris .frm span{
    position: absolute;
    top: 12px;
    left: 20px;
    padding: 0;
    transition: 0.5s;
    pointer-events: none;
    background: #fff;
    text-transform: uppercase;
}
.giris .frm input:focus ~ span,
.giris .frm input:valid ~ span{
    top: -12px;
    left: 12px;
    font-size: 12px;
    padding: 2px 4px;
    border: 1px solid black;
    background: #ff0;
}
.giris .frm input[type=submit] {
    background: gold;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}
.giris .frm input[type=submit]:hover {
    background: #ffc107;
}
.giris a{
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #0666;
}
.giris a span {
    color: black;
    font-weight: 600;
}

/*Giriş sayfası bitiş*/

/*Sayfa başı ikonu başlangıç*/
.ust{
    position:relative;
    right: 50px;
    float: right;
    bottom: 120px;  
}
.ust img{
    width: 96px;
    height: 96px;
}

/*Sayfa başı ikonu bitiş*/

/*footer başlangıç*/

/*footer bitiş*/

