*{
    padding: 0px;
    margin: 0px;
    
}
.container-fluid{
    width: 100%;

}
body{
    padding-top: 55px;
}
#sayfa{
    background-color: #dbdbdb;
}
#login{
    height: 10;
}

/*navbar ve footer arasında kalan alan*/
#container
{
    width: 80½;
    margin: auto;
}
.container{
    background-color: white;
}
.icerik{
    padding-top: 10px;
}
/*Hakkımda başlangıç*/
#hakkımdah1{
    text-align: center;
    background-color:black;
    color: white;
    height: 50px;
    line-height: 50px;
    margin: 8px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rg
}
/*Hakkımda bitiş*/

/*sehrim başlangıç*/
.resimSlider
{
    height: 600px;
}
.eskisehir h1{
    text-align: center;
    margin: 20px;
}
.adalar p{
    font-size: 23px;
    margin: 10px 30px;
    text-align: center;
}
.kentpark p{
    font-size: 23px;
    margin: 10px 30px;
    text-align: center;
}
.sazova p{
    font-size: 23px;
    margin: 10px 30px;
    text-align: center;
}
.haller p{
    font-size: 23px;
    margin: 10px 30px;
    text-align: center;
}
.selale p{
    font-size: 23px;
    margin: 10px 30px;
    text-align: center;
}
.eskisehir p{
    font-size: 23px;
    margin: 10px 30px;
    text-align: center;
}
#sehrimh2{
    margin: 15px;
    margin-left: 25px;
}
iframe{
    width: 98%;
    border-radius: 8px;
    margin-top: 30px;
}
/*sehrim bitiş*/

/*Mirasımız başlangıç*/
.mirasımız{
    text-align: center;
    background-color:black;
    color: white;
    height: 50px;
    line-height: 50px;
    margin: 8px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(28, 23, 28, .15);
}
.odunpazarı p{
    font-size: 23px;
    margin: 10px 30px;
    text-align: center;
}
.odunpazarı h2{
    margin: 15px;
    margin-left: 25px;
}
#odunpazarı1{

    border-radius: 10px;
    float: left;
    margin: 15px;
}
#odunpazarı2{
    width: 1200px;
    height: 450px;
    border-radius: 10px;
    margin: 15px;
    margin-left: 50px;

}
#odunpazarıvideo{
    width: 900px;
    height: 450px;
    margin: 20px;
    margin-left: 200px;
}
.kursunlu h2{
    margin: 15px;
    margin-left: 25px;
}
#kursunlu1{
    border-radius: 10px;
    float: left;
    margin: 15px;
}
.kursunlu p{
    font-size: 23px;
    margin: 10px 30px;
    text-align: center;
}
#kursunlu2{
    width: 1200px;
    height: 450px;
    border-radius: 10px;
    float: left;
    margin: 15px;
    margin-left: 50px;
}
.atlıhan h2{
    margin: 15px;
    margin-left: 25px;
}
#atlıhan1{
    border-radius: 10px;
    float: left;
    margin: 15px;
}
.atlıhan p{
    font-size: 23px;
    margin: 10px 30px;
    text-align: center;
}
/*Mirasımız bitiş*/

/*iletisim başlangıç*/
#sayfa-iletisim{
    background-color:rgb(161, 181, 194) ;
}
#icerik-iletisim{
    width: 70%;
    height: 1500px;
    margin: auto;
    background-color:rgb(161, 181, 194);
}
.iletisim-form{
    width: 85%;
    max-width: 800px;
    height: 1200px;
    background: #f1f1f1;
    position: absolute;
    top: 200px;
    left: 550px;
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;

}
.iletisim-form h1{
    margin-top: 0;
    font-weight: 200;
}
.iletisim-form .frmi{
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}
.iletisim-form .frmi label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}
.iletisim-form .frmi input, .iletisim-form .frmi textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}
.iletisim-form .frmi .iller{
    width: 100%;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}

/*iletisim bitiş*/

/*Giriş sayfası başlangıç*/
#sayfaGiris{
    margin: 0px;
    padding: 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gold;
}
.giris{
    text-align: center;
    width: 350px;
    box-sizing: border-box;
    padding: 40px;
    background-color: white;
}
.giris h2{
    margin: 0 0 20px;
    padding: 0px;
    font-size: 30px;
    text-transform: uppercase;
}
.giris .frm {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}
.giris .frm input{
    height: 50px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
    border: 1px solid #000;
}
.giris .frm span{
    position: absolute;
    top: 12px;
    left: 20px;
    padding: 0;
    transition: 0.5s;
    pointer-events: none;
    background: #fff;
    text-transform: uppercase;
}
.giris .frm input:focus ~ span,
.giris .frm input:valid ~ span{
    top: -12px;
    left: 12px;
    font-size: 12px;
    padding: 2px 4px;
    border: 1px solid black;
    background: #ff0;
}
.giris .frm input[type=submit] {
    background: gold;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}
.giris .frm input[type=submit]:hover {
    background: #ffc107;
}
.giris a{
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #0666;
}
.giris a span {
    color: black;
    font-weight: 600;
}

/*Giriş sayfası bitiş*/

/*Sayfa başı ikonu başlangıç*/
.ust{
    position:relative;
    right: 50px;
    float: right;
    bottom: 120px;  
}
.ust img{
    width: 96px;
    height: 96px;
}
/*Sayfa başı ikonu bitiş*/

/*footer başlangıç*/

/*footer bitiş*/

